$darkColor: #1D2027;
$lightColor: #fff;
$redColor: #F00;

$mobileScreenMax: 600px;
$mobileScreenMin: 0px;

$tabletScreenMax: 1120px;
$tabletScreenMin: 600px;

$computerScreenMin: 1120px;
$computerScreenMax: 4800px;

.navigation-container {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1200;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $mobileScreenMax) and (min-width: $mobileScreenMin) { 
    display: none;
  }
  a {
    text-decoration: none;
  }
}

.navigation-items {
  font-size: 1.5rem;
  color: $darkColor;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px 10px;
}

.navigation-items:hover {
  color: $redColor !important;
  cursor: pointer;
}